@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap&subset=cyrillic');

$font-family-sans-serif: 'Ubuntu', sans-serif;

@import '../../node_modules/bootstrap/scss/bootstrap';


.navbar{
    .navbar-nav {
        .active {
            background-color: $light;
            color: $secondary !important;
            @include border-radius(5px);
        }
    }
} 

* {outline:none;}

::-moz-focus-inner {border:none;}

.nav-link {
    padding: $nav-link-padding-y $nav-link-padding-x*1.5 !important;
}

.my-modal {
    display: none;
    &.show {
        display: block;
    }
}